:root {
    --bg-window: #191a1c;
    --bg-chrome: #26282c;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--bg-window);
    font-family: Inter, monospace;
}

* {
    box-sizing: border-box;
}